.wrap-breadcrumbs {
	background: white;
	@include respond-to(xs) {
		display: none;
	}
}
.breadcrumbs {
	color: $text-color;
	.breadcrumb-link {
		line-height: 17px;
		color: #1993EF;
		&.active {
			color: $text-color;
		}
	}
}

.breadcrumb-separate {
	width: 4px;
	height: 12px;
	background: url("../assets/images/icons/right-angle-dark.svg") center no-repeat;
	border: 0;
	line-height: 21px;
}
