.panel {
  @each $label, $panel in $panels {
    &.#{$label} {
      box-shadow: 0 1px 1px rgba(#000, 0.21);
    }
  }
  &.panel-primary,
  &.panel-subaccordion{ box-shadow: none };
}

.panel {
  .panel-heading {
    .btn.btn-inverse.btn-success {
      border: 0 !important;
      color: #fff !important;
      background: transparent !important;
      box-shadow: none !important;
      &:hover { color: #fff !important; }
      &:active, &:focus {
        background: transparent !important;
        box-shadow: none !important;
      }
    }
  }
  .pannel-filter {
    padding-left: 15px;
  }
}

.panel-primary .panel-heading {
  margin-bottom: 0;
  padding-left: 10px;
  @include respond-to(xs) {
    padding-right: 10px;
  }
}

.panel-dashboard {
  .panel-heading {
    background: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 16px;
    @include respond-to(xs) {
      margin-bottom: 30px;
    }
    .panel-title {
      margin-top: 2px;
      line-height: 20px;
      color: #555555;
      font-weight: 600;
    }
    .btn.btn-inverse.btn-success {
      border: 0 !important;
      min-height: 0 !important;
      height: 20px !important;
      padding: 0;
      font-size: 21px;
      width: auto;
      min-width: auto;
      color: #555555 !important;
      background: transparent !important;
      box-shadow: none !important;
      &:hover { color: #555555 !important; }
      &:active, &:focus {
        background: transparent !important;
        box-shadow: none !important;
      }
      &:after {display: none;}
    }

    .dropdown-menu { margin-top: 5px; }
  }
}

.panel-secondary .panel-control {
  padding: 5px;
}

.panel-secondary .panel-heading {
  border-radius: 0;
  padding-left: 10px;
}

.panel-body-inner {
  padding: 14px 15px;
}

.page-wrapper {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  background: url("../assets/images/icons/background-rings.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @include respond-to(xs) {
    background: #ffffff;
    padding-top: 0;
  }
  .col-panel-main {
    width: 60%;
    @include respond-to(xs) {
      width: 100%;
    }
  }
  .col-panel-details {
    width: 40%;
    @include respond-to(xs) {
      width: 100%;
    }
  }
}

//.panel-secondary .panel-control { padding: 21px 17px 23px 13px; }
//.panel-body-inner { padding: 14px 17px 14px 13px; }
